@import "./variables/variables.scss"; 

.back{
    background-color: $lightGray;
}
 
.text {
    font-family: $bodyFont;
	margin: 0;
	padding: 0px 0px 6px 0px;
	letter-spacing: -2px;
	font-weight: bold;
    padding: 20px;

    &.h1 {
        @include textStyle($darkGray, calc(3em + 1vmin), 40px);
    }

    &.h2 {
        @include textStyle($darkGray, calc(2em + 1vmin), 40px);
    }

    &.hour {
        @include textStyle($darkGray_Hour, calc(2em + 1vmin), 35px);
    }

    &.minute {
        @include textStyle($darkBlue, calc(2em + 1vmin), 25px);
    }

    &.seconds {
        @include textStyle($orange, calc(2em + 1vmin), 15px);
    }

    &.miliseconds {
        @include textStyle($darkGray, calc(2em + 1vmin)px, 10px);
    }

    &.date {
        @include textStyle($darkBlue, calc(4em + 1vmin), 60px);
    }
}

.progress {
    height: 40px !important;
    color: $darkGray !important;
    background-color: black !important;
}

.progress-bar {
    background-color: $orange !important;
}
.bar {
    text-shadow:  5px;
    font-size: calc(1em + 1vmin);
	line-height: 60px;
    height: 40px !important;
}

.progress2 {
    color: $darkGray !important;
    background-color: $lightGray !important;
}

.progress-bar2 {
    background-color: $darkGray !important;
}
