
.panel {
    display: flex;
    flex-direction:row;
    gap:10px;
}
  
.box {
    width: 30vw;
    min-height: 25vh;
    border: 0.5px solid gainsboro;
    border-radius: 1%;
    text-align: center;
}


.label{
    font-size: calc(0.8em + 1vmin);
    font-weight: 500;
    color: rgb(71, 71, 71);
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-icon {
    font-size: 50px;
    height: 60%;
}

.box-label {
    height: 40%;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    display: flex;
    align-items:center;
    justify-content: center;
}
